/*Activité*/

.titre_activite{
	margin: 2rem 0 2rem 2rem;
}

.container_activite{
display: flex;
justify-content:space-between;
padding: 30px;
gap: 60px;
}
.card_activite{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.card_activite>img{
	object-fit: cover;
	height: 350px;
    width: 100%;
	border-radius: 20px 20px 0 0;
}

.text_activite{
	
    box-shadow: 1px 2px 20px 2px var(--shadow);
	border-radius: 0px 0px 20px 20px;	
	font-weight: bold;
	font-size: 13px;
	padding: 11px;
}
@media screen and (max-width:768px) {
	/*section activité*/

	.card_activite>img {
		object-fit: cover;
		height: 180px;
		width: 100%;
		border-radius: 20px 20px 0 0;
	}

	.text_activite>h3{
		font-size: 1em;
	}
	.container_activite{
		display: flex;
		justify-content:space-between;
		padding: 15px;
		gap: 30px;
		}
		.titre_activite{
			margin: 2rem 0 2rem 1rem;
		}
		.text_activite {
			box-shadow: 1px 2px 20px 2px var(--shadow);
			border-radius: 0px 0px 20px 20px;
			font-weight: bold;
			padding: 10px;
			height: 20%;
		}
}