/*Activité*/

.titre_activite{
	margin: 2rem 0 2rem 2rem;
}

.container_activite{
display: flex;
justify-content:space-between;
padding: 30px;
}
.card_activite{
	display: flex;
	flex-direction: column;
}
.card_activite>img{
	object-fit: cover;
	height: 350px;
    width: 17rem;
	border-radius: 20px 20px 0 0;
}

.text_activite{
	padding: 12px 16px;
    box-shadow: 1px 2px 20px 2px var(--shadow);
	border-radius: 0px 0px 20px 20px;	
}
.text_activite{
	font-weight: bold;
	font-size: 13px;
	padding: 1rem;
}