/*Header & Navigation*/
a {
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.nav-links {
	display: flex;
}

.nav-links li a {
	border-top: 3px solid rgb(255, 255, 255);
	padding: 2rem;
	color: #0065FC;

}

.nav-links li :hover {
	border-top: 3px solid #0065FC;
}

.nav-links li {
	display: flex;
	color: var(--blue);
	border-top: 2px  solid white;
	list-style: none;
	text-decoration: none;
}

.logo>img {
	padding: 1rem;
	width: 50%;
}

h1,
h2,
h3 {
	font-weight: 700;
}