/* Section Hebergement*/
.section_content{
	display: flex;
	padding: 10px;
	gap: 40px;
}
.titre_section_h3{
	
padding: 20px;
	font-weight: bold;
	font-size: 25px;
}


#section_1_hebergement{
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
}

.section_1_part1{

	padding: 20px;
	display: flex;
	flex-direction: column;
	border-radius: 25px;
	background: #f4f3f3;
}

.hebergement_section1{
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 255, 255);
	padding: 5px;
	width: 33%;
	border-radius: 20px;
	box-shadow: 2px 2px 2px 2px #0000002e;
}
.hebergement_section1 img{
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 20px 20px 0 0;
}
#section_1_hebergement a{
	display: contents;
}

.hebergement_section1 p{
	color: black;
	font-size: 11px;
}

.hebergement_titre_h3{
	color: black;
}

.section1_text{
	
	padding: 10px;
	color: black;
}

.section1_text h3{
	font-size: 1rem;
	line-height: 21px;
}

.stars{
	margin-top: 9px;
	font-size: small;
}

.price{
	font-weight: bold;
}
.star_blue{
	color: var(--blue);
}

.star_grey{
	color: rgb(192, 192, 192);
}

.section1_text p{
	margin-left: 1px;
	font-size: 13px;
}
.ligne{
	display: flex;
	gap:30px;
}


.afficher-plus{
	font-size: 15px;
	font-weight: bold;
	color: black;
	padding: 20px;
	
}