@import url("header_nav.css");

:root {
	--blue: #0065FC;
	--shadow: #0000002e;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway';
}

body {
	max-width: 1400px;
	margin: auto;
}

h1, h2, h3, h4, h5, h6{
	font-size: 1rem;
}
p{
	font-size: 14px;
}
.title{
	font-size: 20px;
}
.ellipsis{
	overflow:hidden;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}